.input label {
  display: block;
  margin-bottom: 0.5rem;
}

.input input {
  display: block;
  padding: 0.5rem;
  border: 1px solid var(--clr-lightGray);
  border-radius: 0.25rem;
  width: 100%;
  font-size: 0.875rem;
  font-family: inherit;
  outline: none;
}

.input input:active,
.input input:focus {
  border: 1px solid var(--clr-secondary);
}

@media screen and (min-width: 480px) {
  .input input {
    padding: 0.5rem 1rem;
  }
}
